{% extends 'base.html.twig' %}

{% block title %}Nos ingrédients{% endblock %}

{% block body %}
    <div class="container mb-4">
        <h1 class="mb-4">Nos ingrédients</h1>

        <a href="#" class="btn btn-primary">Ajouter des ingrédients</a>
    </div>
{% endblock %}
